*.pyc

results*
submissions*
tests*

util/*
jff/*

!jff/example.jff
!jff/example.in
!util/graph.txt
!util/graphMaker.cpp
!util/graphMaker.js
!util/regex.cpp
!util/stringGenerator.cpp
!util/tcGenerator.cpp